* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 11px;
}

.grid {
  display: grid;
  grid-gap: 1px;
  background: #666;
  border: 1px solid #666;
}

.puzzle-cell {
  font-family: franklin, sans-serif;
  font-size: 26px;
  position: relative;
  width: 36px;
  height: 36px;
  min-width: 36px;
  text-align: center;
  background-color: white;
}

.puzzle-cell.revealed {
  position: relative;
}

.puzzle-cell.revealed:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  display: block;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #f00;
}

/* https://stackoverflow.com/questions/8127035/how-to-create-a-diagonal-line-within-a-table-cell/34173631 */
.puzzle-cell.wrong {
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 48%,
    #ff0000 50%,
    #ff0000 51%,
    rgba(0, 0, 0, 0) 53%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: white;
}

.puzzle-cell.black {
  background-color: black;
}
.puzzle-cell.black.fixed {
  background-color: rgb(23, 58, 128);
}

.puzzle-cell.black.cursor {
  background-color: #b29221;
}
.label {
  position: absolute;
  top: 2.78%;
  left: 5.56%;
  font-size: 41%;
}

.content {
  position: absolute;
  top: 33%;
  width: 100%;
  text-align: center;
}

.content > span {
  white-space: pre;
}

.puzzle-cell.fixed > .content {
  color: rgb(37, 96, 213);
}

.puzzle-cell.focus {
  background-color: #98cffc;
}
.related {
  background-color: #ffeca0;
}
.shadow {
  background-color: #dcebf8;
}
.puzzle-cell.cursor {
  background-color: #fbd428;
}

.toolbar-wrapper {
  font: 14px franklin;
}

.layout-puzzle {
  align-items: flex-start;
  height: 100vh;
  max-height: 660px;
  justify-content: space-around;
  margin: auto;
  max-width: 1132px;
  padding: 10px;
  font-family: franklin;
}

.layout-puzzle,
.layout-puzzle > * {
  display: flex;
}

.layout-puzzle > * {
  height: 100%;
  width: 48%;
}

.layout-cluebar-and-board {
  flex-direction: column;
}

.cluebar {
  align-items: center;
  background: #dcefff;
  display: flex;
  font-size: 1.2em;
  margin-bottom: 10px;
  min-height: 60px;
}

.cluebar-number {
  font-weight: 700;
  min-width: 60px;
  text-align: center;
  width: 60px;
}

.cluebar-text {
  padding-right: 10px;
  line-height: 23px;
  text-align: left;
}

.cluelist-wrapper {
  font: 14px franklin;
  width: 47%;
  height: 100%;
}

div.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #999;
}

div.shading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #666;
  opacity: 0.2;
}

.puzzle-cell.rebus {
  position: absolute;
  width: unset;
  min-width: inherit;
  border: 3px solid #fbd428;
  text-align: center;
  padding: .33em .1em 0 .1em;
  text-transform: uppercase;
}

.puzzle-cell.rebus:focus {
  outline: none;
}

.modal-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.Clue-text em, .cluebar-text em, .Clue-text i, .cluebar-text i {
  font-style: italic;
}

.Clue-text strong, .cluebar-text strong, .Clue-text b, .cluebar-text b {
  font-weight: bold;
}
