* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Arial;
  font-size: 11px;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}
.grid table:focus {
  outline: none;
}
.grid td {
  font-family: franklin;
  font-size: 26px;
  position: relative;
  width: 36px;
  height: 36px;
  min-width: 36px;
  text-align: center;
  border: 1px solid #666;
}

.grid td.revealed {
  position: relative;
}

.grid td.revealed:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  display: block;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #f00;
}

/* https://stackoverflow.com/questions/8127035/how-to-create-a-diagonal-line-within-a-table-cell/34173631 */
.grid td.wrong {
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 48%,
    #ff0000 50%,
    #ff0000 51%,
    rgba(0, 0, 0, 0) 53%,
    rgba(0, 0, 0, 0) 100%
  );
}

.grid td.black {
  background-color: black;
}
.grid td.black.fixed {
  background-color: rgb(23, 58, 128);
}

.grid td.black.cursor {
  background-color: #b29221;
}
.label {
  position: absolute;
  top: 2.78%;
  left: 5.56%;
  font-size: 41%;
}

.content {
  position: absolute;
  top: 33%;
  width: 100%;
  text-align: center;
}
td.fixed > .content {
  color: rgb(37, 96, 213);
}

.grid td.focus {
  background-color: #98cffc;
}
.related {
  background-color: #ffeca0;
}
.shadow {
  background-color: #dcebf8;
}
.selected {
  background-color: lightgreen;
}
.selected.black {
  background-color: #2d5a2d;
}
.good {
  background-color: lightgreen;
}
.bad {
  background-color: red;
}
.grid td.cursor {
  background-color: #fbd428;
}

.help p {
  margin: 0;
}

.titles p {
  margin: 0;
}

.toolbar-wrapper {
  font: 14px franklin;
}

.layout-puzzle {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100vh;
  max-height: 660px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: auto;
  max-width: 1132px;
  padding: 10px;
  font-family: franklin;
}

.layout-puzzle,
.layout-puzzle > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.layout-puzzle > * {
  height: 100%;
  width: 48%;
}

.layout-cluebar-and-board {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cluebar {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #dcefff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  margin-bottom: 10px;
  min-height: 60px;
}

.cluebar-number {
  font-weight: 700;
  min-width: 60px;
  text-align: center;
  width: 60px;
}

.cluebar-text {
  padding-right: 10px;
  line-height: 23px;
  text-align: left;
}

.puzzle-board {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.layout-clue-lists {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-height: 625px;
}

.cluelist-wrapper {
  font: 14px franklin;
}

.clue-list-wrapper {
  width: 47%;
  height: 100%;
}

.clue-list-title {
  border-bottom: 1px solid #e6e6e6;
  content: attr(name);
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
}

.clue-list-list {
  height: calc(100% - 30px);
  overflow-y: scroll;
}

.clue-list-item {
  border-left: 10px solid transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 1px;
}

.clue-number {
  font-weight: 700;
  margin-right: 10px;
  text-align: right;
  min-width: 24px;
  width: 24px;
}

.clue-text {
  margin-left: 5px;
}

.clue-filled {
  color: gray;
}

.clue-selected {
  background-color: #a7d8ff;
}

.clue-highlighted {
  border-left-color: #a7d8ff;
}

div.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #999;
}

#rebus {
  position: absolute;
}

#rebus input {
  width: 32px;
  height: 32px;
  text-transform: uppercase;
  font-family: franklin;
  font-size: inherit;
}

.empty-dropzone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold;
  color: #bbb;
  margin-bottom: 20px;
}

.file-drop-demo {
  border: 1px solid black;
  width: 600px;
  color: black;
  padding: 20px;
}

.modal-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  max-height: 95%;
  min-height: 300px;
  max-width: 500px;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding: 5%;
  pointer-events: visible;
}

.display-block {
  display: block;
}

.display-none {
  visibility: hidden;
}

/* TODO this should be relative to container, not viewport */
.no-puzzle {
  width: 90vw;
  margin: 5vh 5vw;
  height: 90vh;
  padding-top: 42vh;
  border: 1px dashed black;
  text-align: center;
  font-family: Arial;
}
